
@{
    ViewBag.Title = "Đơn hàng";
    ViewBag.Link = "Quản lý đơn hàng";
    ViewBag.Name = "QuanlyDonhang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section CSSPartial{
    <link href="~/Areas/Admin/Assets/css/table.css" rel="stylesheet">
}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th>STT</th>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Ngày đặt</th>
                    <th>Tổng tiền</th>
                    <th>Địa chỉ</th>
                    <th>Tình trạng</th>
                    <th colspan="3">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <th>1</th>
                    <td>7451854</td>
                    <td>Nguyễn Hà Hương Dịu</td>
                    <td>20/4/2021</td>
                    <td>72,000,000 VND</td>
                    <td>Phú Thọ</td>
                    <td>Đang giao</td>
                    <td title="Xem chi tiết" class="see-details"><i class="bi bi-eye-fill"></i></td>
                    <td title="Sửa tình trạng đơn hàng" class="edit"><i class="bi bi-pencil-fill"></i></td>
                </tr>
                <tr class="text-center">
                    <th>2</th>
                    <td>7451854</td>
                    <td>Trần Thị Hằng</td>
                    <td>21/4/2021</td>
                    <td>32,000,000 VND</td>
                    <td>Nghệ An</td>
                    <td>Đang giao</td>
                    <td title="Xem chi tiết" class="see-details"><i class="bi bi-eye-fill"></i></td>
                    <td title="Sửa tình trạng đơn hàng" class="edit"><i class="bi bi-pencil-fill"></i></td>
                </tr>
                <tr class="text-center">
                    <th>3</th>
                    <td>7451855</td>
                    <td>Phạm Thị Hoài</td>
                    <td>21/4/2021</td>
                    <td>25,000,0000 VND</td>
                    <td>Hải Dương</td>
                    <td>Đang giao</td>
                    <td title="Xem chi tiết" class="see-details"><i class="bi bi-eye-fill"></i></td>
                    <td title="Sửa tình trạng đơn hàng" class="edit"><i class="bi bi-pencil-fill"></i></td>
                </tr>
                <tr class="text-center">
                    <th>4</th>
                    <td>7451856</td>
                    <td>Hà Thị Huệ</td>
                    <td>22/4/2021</td>
                    <td>100,0000,000 VND</td>
                    <td>Vĩnh Phúc</td>
                    <td>Đã giao</td>
                    <td title="Xem chi tiết" class="see-details"><i class="bi bi-eye-fill"></i></td>
                    <td title="Sửa tình trạng đơn hàng" class="edit"><i class="bi bi-pencil-fill"></i></td>
                </tr>
                <tr class="text-center">
                    <th>5</th>
                    <td>7451856</td>
                    <td>Nguyễn Thị Huyền Trang</td>
                    <td>22/4/2021</td>
                    <td>89,000,000 VND</td>
                    <td>Bắc Giang</td>
                    <td>Đã hủy</td>
                    <td title="Xem chi tiết" class="see-details"><i class="bi bi-eye-fill"></i></td>
                    <td title="Sửa tình trạng đơn hàng" class="edit"><i class="bi bi-pencil-fill"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

